---
import Layout from "../layouts/Layout.astro";
import Readings from "../components/Readings.astro";
---

<Layout>
  <div class="m-5" transition:animate="fade">
    <a
      href="/questions"
      class="text-blue-600 hover:text-blue-800 text-sm font-medium">Questions</a
    >
    <div class="flex justify-between items-center mb-6">
      <h1 class="text-3xl font-bold">Recent Readings</h1>
      <a
        href="/readings"
        class="text-blue-600 hover:text-blue-800 text-sm font-medium"
        >Show all →</a
      >
    </div>
    <div class="flex flex-col gap-5">
      <Readings limit={3} />
    </div>
  </div>
</Layout>
