---
import Layout from "../layouts/Layout.astro";
import Readings from "../components/Readings.astro";
import Timeline from "../components/Timeline.astro";
import Hero from "../components/Hero.astro";
---

<Layout>
  <div class="flex h-[100dvh]">
    <div class="w-1/2 flex items-center justify-center">
      <Hero />
    </div>
    <div class="w-1/2 flex items-center justify-center p-5">
      <div>
        <a
          href="/questions"
          class="text-blue-600 hover:text-blue-800 text-sm font-medium">Questions</a
        >
        <div class="mt-5">
          <Timeline limit={5} />
          <div class="mt-6">
            <a
              href="/readings"
              class="text-blue-600 hover:text-blue-800 text-sm font-medium"
              >Show all →</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</Layout>
