---
import Layout from "../layouts/Layout.astro";
import Readings from "../components/Readings.astro";
---

<Layout>
  <div class="m-5">
    <h1 class="text-3xl font-bold mb-6">All Readings</h1>
    <div class="flex flex-wrap gap-10">
      <Readings />
    </div>
  </div>
</Layout>

