---
import { cn } from "@/lib/utils";
import Container from "../Container.astro";
---

<div class="flex flex-col lg:flex-row">
  <header
    class={cn(
      "h-[calc(100dvh-30dvh)] shrink-0 flex justify-center",
      "lg:h-dvh lg:w-[24%] lg:mt-0 lg:justify-start",
    )}
  >
    <div
      class={cn(
        "w-full rounded-4xl flex flex-col justify-center items-center m-4",
        "md:m-10",
        "lg:w-[24%] lg:h-dvh lg:fixed lg:items-start lg:m-10 lg:mt-0",
      )}
    >
      <slot name="sidebar" />
    </div>
  </header>

  <Container tw="w-3/4 flex w-full p-0 xl:p-0">
    <main class="w-full">
      <div class="h-0 lg:h-[calc(100dvh/5)]"></div>
      <div class="mb-22">
        <slot name="main" />
      </div>
    </main>
  </Container>
</div>
