@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: #333;
}

#grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(50px, 1fr));
  justify-content: center;
  /* z-index: 10000; */
  /* pointer-events: auto; */
}

.grid-item {
  min-width: 100%;
  min-height: 100%;
  background-color: white;
  cursor: pointer;
  position: relative;
}
.grid-item:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  display: block;
}
.grid-item::hover {
  opacity: 0.8;
}
