---
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="robots" content="noindex, nofollow" />
    <title>Ghost</title>
  </head>
  <body>
    <p>Analytics disabled for this browser.</p>
    <script is:inline>
      localStorage.setItem('va-disable', '1');
    </script>
  </body>
</html>
