---
import Layout from "@/layouts/Layout.astro";
import Timeline from "@/components/Timeline.astro";
import Hero from "@/components/Hero.astro";
import Header from "@/components/elements/Header.astro";
import FeaturedWritings from "@/components/FeaturedWritings.astro";
import { cn } from "@/lib/utils";
---

<Layout>
  <div class="flex h-full flex flex-col lg:flex-row">
    <div
      class="w-full lg:w-1/2 lg:h-full shrink-0 h-[calc(99dvh)] flex items-center justify-center"
    >
      <Hero />
    </div>
    <div class="w-full h-full lg:w-1/2 flex flex-col items-center">
      <div
        class={cn("flex flex-col gap-14 my-auto", "md:flex-row", "lg:flex-col")}
      >
        <div>
          <a
            href="/readings"
            class="text-sky-800 hover:text-blue-800 text-sm font-medium"
          >
            <Header>What I've Been Reading →</Header>
          </a>
          <Timeline limit={3} />
        </div>
        <div class="w-full md:w-[400px]">
          <a
            href="/questions"
            class="text-sky-800 hover:text-blue-800 text-sm font-medium"
          >
            <Header>What I've Been Thinking →</Header>
          </a>
          <div class="flex flex-col gap-5 w-full">
            <FeaturedWritings
              questionId="is-mind-uploading-possible-in-principle"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</Layout>
