---
import { getCollection } from "astro:content";
import Layout from "../layouts/Layout.astro";
import TwoColumnView from "../components/views/TwoColumnView.astro";
import PhotoGallery from "@/components/PhotoGallery/PhotoGallery.astro";
import Back from "../components/elements/Back.astro";

const photos = await getCollection("photos");
---

<Layout title="Photography">
  <div class="relative ml-10">
    <Back href="/" label="Home" />
  </div>
  <div
    id="photography-page"
    class="min-h-screen md:w-[calc(100%+20px)] md:-ml-[10px] overflow-x-hidden flex flex-col"
  >
    <div class="h-1/2 md:h-1/5 flex justify-center items-center">
      <div
        class={`mt-18 text-3xl md:text-4xl font-light text-gray-700 lg:mb-18 italic leading-tight font-[Crimson_Text]`}
      >
        Moments I've noticed
      </div>
    </div>

    <div class="w-full block md:flex gallery-zone">
      <div class="w-full">
        <PhotoGallery photos={photos} />
      </div>
    </div>
    <div class="h-0 md:h-1/5"></div>
  </div>
</Layout>

<style>
  /* Remove bottom spacing within TwoColumnView to avoid page vertical scroll */
  #photography-page .mb-22 {
    margin-bottom: 0 !important;
  }
  /* Ensure normal vertical scroll across viewports */
  /* Make sure the horizontal container can use full width */
  #photography-page #photo-horizontal {
    width: 100%;
  }
</style>
