---
import Layout from "../layouts/Layout.astro";
import Readings from "../components/Readings.astro";
import TwoColumnView from "../components/views/TwoColumnView.astro";
import Back from "../components/elements/Back.astro";
import { cn } from "@/lib/utils";
---

<Layout>
  <TwoColumnView>
    <div slot="sidebar">
      <Back href="/" label="Home" />
      <div
        class="hidden text-sm font-medium tracking-widest text-gray-500 uppercase mb-4"
      >
        Reading
      </div>
      <div
        class="text-3xl md:text-4xl font-light text-gray-700 md:mb-18 italic leading-tight font-[Crimson_Text] text-center lg:text-left flex justify-center lg:justify-start"
      >
        Things I've read
      </div>

      <h1
        class="hidden text-7xl md:text-6xl lg:text-7xl xl:text-7xl xl:tracking-tight lg:leading-18 font-bold leading-none tracking-tighter text-neutral-800"
      >
        Books
      </h1>
    </div>

    <div slot="main">
      <div class="flex flex-wrap gap-5">
        <Readings />
      </div>
    </div>
  </TwoColumnView>
</Layout>
