@import '../../css/variables';
@import '../../css/global';

.container {
  width: 100%;
  align-self: center;
  margin-top: 25%;
  @media only screen and (max-height: 800px) {
    margin-top: 0;
  }
  @media only screen and (max-width: 500px) {
    margin-top: 0;
  }
  display: flex;
  & > div:first-child {
    box-sizing: border-box;
    border-right: 10px solid $muted-color;
    background-image: linear-gradient(
                        rgba(134, 112, 164, 0.6),
                        rgba(134, 112, 164, 0.6)
                      ),
                      url('./joshua_heiland.jpg');
    background-image: url('./joshua_heiland.jpg');
    background-position: 50% 40%;
    background-size: cover;
    background-repeat: no-repeat;
    flex: 35%;
    @media only screen and (max-width: 500px) {
      flex: 50%;
      border-right: none;
      border-top: 10px solid $muted-color;
      order: 1;
      height: 300px;
    }
  }
  div:last-child {
    box-sizing: border-box;
    border-top: 1px $muted-color solid;
    border-bottom: 1px $muted-color solid;
    flex: 65%;
    padding: 50px;
    @media only screen and (max-width: 500px) {
      // padding: 50px 50px;
    }
  }
  h1, h2 {
    margin-left: 30px;
    transition: margin 1s;
  }
  h2 {
    color: $accent-color;
  }
  @media only screen and (max-width: 500px) {
    flex-direction: column;
  }
}

:global {
  #main.loaded {
    h1, h2 {
      margin-left: 0;
    }
  }
}
