.thought {
  flex-basis: calc(30% - 40px);
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  a {
    display: inline-block;
    padding: 40px;
  }
  &:hover {
    background: #545454;
    a {
      color: white;
    }
  }
  &:nth-child(even) {
    // background: #f9f9f9;
    // color: white;
    //border-right: 1px #f9f9f9 solid;
  }
  @media only screen and (max-width: 800px) {
    flex-basis: 100%;
    justify-content: flex-start;
  }
}
