.thought {
  flex-basis: calc(30% - 40px);
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: stretch;
  border-right: 1px #f3f3f3 solid;
  border-bottom: 1px #f3f3f3 solid;
  div {
    // border-top: 1px dashed #d2d2d2;
    width: 50%;
    margin: 0 auto;
  }
  a {
    padding: 20%;
    width: 100%;
    align-self: stretch;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 16px;
    line-height: 35px;
    color: #464646;
    @media only screen and (max-width: 800px) {
      justify-content: flex-start;
      // text-align: left;
      padding: 40px;
    }
    position: relative;
    &::after {
      content: "";
      display: block;
      border-top: 6px solid #9b7d9a;
      width: 50px;
      left: calc(50% - 25px);
      position: absolute;
      bottom: -1px;
    }
  }
  &:hover {
    background: #9b7d9a;
    a {
      color: white;
      &::after {
        border-color: white;
      }
    }
  }
  &:nth-child(even) {
    // background: #f9f9f9;
    // color: white;
    //border-right: 1px #f9f9f9 solid;
  }
  @media only screen and (max-width: 800px) {
    flex-basis: 100%;
    justify-content: flex-start;
  }
}
