---
---

<div class="py-16 px-4">
  <div class="max-w-4xl mx-auto">
    <h1 class="text-3xl md:text-4xl font-thin leading-normal text-left md:text-right">
      <span>I engage with problems in philosophy,</span><br>
      <span>create digital tools, and shoot video.</span>
    </h1>
  </div>
</div>