@import '../../css/variables';

.summary {
  margin-bottom: 50px;
  header {
    border-left: 5px solid #f3f3f3;
    padding: 10px;
    margin-left: -13px;
    margin-bottom: 10px;
    transition: all 0.3s;
    &:hover {
      border-left: 5px solid $accent-color;
      padding-left: 15px;
    }
    a {
      h3 {
        line-height: 30px;
        font-size: 22px;
        color: #464646;
        font-weight: 100;
      }
      h4 {
        font-weight: 100;
        color: #a5a5a5;
        margin: 0;
        time {
          float: right;
          text-align: right;
          text-transform: uppercase;
          color: #d8d8d8;
          font-size: 10px;
        }
      }
    }
  }
  div {
    color: #6f6f6f;
    line-height: 25px;
    letter-spacing: 0px;
    font-weight: 100;
  }
  footer {
    margin-top: 10px;
    small {
      color: $accent-color;
      font-weight: 500;
      // border-left: 5px solid #a17d9a;
      // padding: 10px;
    }
  }
}
