---
import ArrowLeft from "@/components/icons/ArrowLeft.astro";
import Animate from "@/components/Animate.astro";
import { slide } from "astro:transitions";
import { cn } from "@/lib/utils";

interface Props {
  href: string;
  label: string;
  style?: string;
}

const { href, label, style } = Astro.props;
---

<Animate
  name="back"
  type="slideRight"
  duration="fast"
  class="hidden lg:block absolute top-5 -left-5"
>
  <a
    href={href}
    class={cn(
      `flex items-center gap-2 p-5 text-gray-600 hover:text-gray-900 text-sm font-medium hover:-translate-x-2.5 transition-transform`,
      style,
    )}
  >
    <ArrowLeft />
    {label}
  </a>
</Animate>
