---
import ArrowLeft from "@/components/icons/ArrowLeft.astro";

interface Props {
  href: string;
  label: string;
}

const { href, label } = Astro.props;
---

<div class="hidden lg:block absolute top-10 left-0">
  <a
    href={href}
    class="flex items-center gap-2 text-gray-600 hover:text-gray-900 text-sm font-medium"
  >
    <ArrowLeft />
    {label}
  </a>
</div>