---
import ArrowLeft from "@/components/icons/ArrowLeft.astro";
import Animate from "@/components/Animate.astro";
import { slide } from "astro:transitions";

interface Props {
  href: string;
  label: string;
}

const { href, label } = Astro.props;
---

<Animate
  name="back"
  type="slideRight"
  duration="fast"
  class="hidden lg:block absolute top-5 -left-5"
>
  <a
    href={href}
    class="flex items-center gap-2 p-5 text-gray-600 hover:text-gray-900 text-sm font-medium hover:-translate-x-2.5 transition-transform"
  >
    <ArrowLeft />
    {label}
  </a>
</Animate>
