---
import Books from "@/components/icons/Books.astro";
import Typewriter from "@/components/icons/Typewriter.astro";
import { cn } from "@/lib/utils";

const style = "text-gray-600 hover:text-gray-900 transition-colors p-5";

function getActiveClass(route: string) {
  return Astro.url.pathname === route
    ? "text-gray-900 opacity-100"
    : "opacity-70";
}
---

<div class="flex items-center ml-8">
  <a href="/readings" class={cn(style, getActiveClass("/readings"))}>
    <Books size="w-5 h-5" />
  </a>
  {/*This give a sense of balance with the white border*/}
  <div class="h-3 w-[2px] border-r border-transparent"></div>
  <div class="h-3 w-[1px] border-l border-neutral-300"></div>
  <div class="h-3 w-[1px] border-r border-white"></div>
  <a href="/questions" class={cn(style, getActiveClass("/questions"))}>
    <Typewriter size="w-5 h-5" />
  </a>
</div>

