@import '../../css/variables.scss';

.container {
  display: flex;
  align-self: center;
  padding: 40px;
  padding-bottom: 130px;
  // flex-basis: 50%;
  .axiom {
    align-self: center;
    flex-basis: calc(60% - 0px);
    padding-right: 50px;
    margin-right: 50px;
    text-align: right;
    display: flex;
    flex-direction: column;
    position: relative;
    height: 100%;
    @media only screen and (max-width: 1000px) {
      flex-basis: 100%;
      padding-right: 0px;
      padding-left: 20px;
      margin-right: 0;
      margin-left: -20px;
      text-align: left;
    }
    div {
      color: $accent-color;
    }
    .bar {
      position: absolute;
      width: 5px;
      top: 0;
      height: calc(100% - 30px);
      background-color: $accent-color;
      right: 0;
      @media only screen and (max-width: 1000px) {
        left: 0
      }
    }
  }
  .content {
    flex-basis: 40%;
    @media only screen and (max-width: 800px) {
      flex-basis: 100%;
    }
    margin-top: -10px;
  }
  .post {
    display: flex;
    flex-basis: 100%;
    @media only screen and (max-width: 1000px) {
      flex-wrap: wrap;
      flex-flow: column;
    }
    align-self: center;
    color: #676767;
    h1 {
      margin-top: 0;
      line-height: 60px;
      font-size: 40px;
    }
    .content {
      font-size: 18px;
      line-height: 30px;
    }
  }
}
.source {
  text-transform: uppercase;
  font-size: 10px;
  text-align: left;
  // border-top: 1px black solid;
  a {
    color: #bd8888;
  }
}
