---
import "../styles/global.css";
import "@fontsource/inter";
import "@fontsource/crimson-text/400.css";
import "@fontsource/crimson-text/600.css";
import "@fontsource/crimson-text/400-italic.css";
import "@fontsource/space-mono/400.css";
import "@fontsource/space-mono/700.css";
import Logo from "../components/Logo.astro";
import Frame from "@/components/Frame.astro";
import { ClientRouter } from "astro:transitions";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Joshua Heiland | Philosopher & Creator</title>
    <ClientRouter />
  </head>
  <body class="bg-white p-5">
    <Frame bgColor="bg-gray-200/50" borderColor="border-white" />
    <slot />
    <header
      class="absolute top-5 lg:top-auto lg:fixed lg:bottom-5 p-5 md:pl-10"
    >
      <Logo />
    </header>
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
  }
</style>
